.text {
  width: 100%;
  /* max-width: 685px; */
  margin-top: 3px;
  margin-bottom: 1px;
  white-space: pre-wrap;
  word-break: break-word;
  padding: 3px 2px;
  line-height: 1.625rem;
  cursor: text;
  color: inherit;
}

.text:focus {
  outline: none;
}

.strike-through {
  text-decoration: line-through rgba(55, 53, 47, 0.25);
  color: rgba(55, 53, 47, 0.65);
}

:global .bold {
  font-weight: 600;
}

:global .underline {
  border-bottom: 0.05em solid;
  word-wrap: break-word;
  color: inherit;
}

:global .strike {
  text-decoration: line-through;
}

:global .italic {
  font-style: italic;
}

:global a,
:global button {
  transition: background 20ms ease-in 0s;
}

:global a:hover,
:global button:hover {
  background: var(--hover-background);
}

:global a:focus,
:global button:focus {
  background: var(--focus-background);
}

:global [contentEditable]:empty:after {
  content: attr(placeholder);
  -webkit-text-fill-color: rgba(55, 53, 47, 0.15);
}

.text > a {
  border-bottom: 0.05em solid;
  border-color: var(--font-anchor);
  opacity: 0.7;
  cursor: pointer;
  color: inherit;
  word-wrap: break-word;
  text-decoration: inherit;
}

.text > a:hover,
.text > a:focus {
  background: none;
}
