:root {
  --callout-background: rgb(241, 241, 239);
}

.callout-block {
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  border-radius: 3px;
  background-color: var(--callout-background);
  padding: 16px 16px 16px 12px;
}

.callout-contents {
  display: flex;
  min-width: 0px;
  margin-left: 8px;
  width: 100%;
}

.inner-block {
  display: flex;
  width: 100%;
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: column;
  justify-content: center;
  cursor: text;
}

/* default background */

:global .gray-background {
  background: var(--gray-bg);
}

:global .brown-background {
  background: var(--brown-bg);
}

:global .orange-background {
  background: var(--orange-bg);
}

:global .yellow-background {
  background: var(--yellow-bg);
}

:global .green-background {
  background: var(--green-bg);
}

:global .blue-background {
  background: var(--blue-bg);
}

:global .purple-background {
  background: var(--purple-bg);
}

:global .pink-background {
  background: var(--pink-bg);
}

:global .red-background {
  background: var(--red-bg);
}

:global .white-background {
  background: none;
  border: 1px solid var(--focus-background);
}

/* default font color */

:global .gray-font {
  color: var(--gray-text);
  fill: var(--gray-text);
}

:global .brown-font {
  color: var(--brown-text);
  fill: var(--brown-text);
}

:global .orange-font {
  color: var(--orange-text);
  fill: var(--orange-text);
}

:global .yellow-font {
  color: var(--yellow-text);
  fill: var(--yellow-text);
}

:global .green-font {
  color: var(--green-text);
  fill: var(--green-text);
}

:global .blue-font {
  color: var(--blue-text);
  fill: var(--blue-text);
}

:global .purple-font {
  color: var(--purple-text);
  fill: var(--purple-text);
}

:global .pink-font {
  color: var(--pink-text);
  fill: var(--pink-text);
}

:global .red-font {
  color: var(--red-text);
  fill: var(--red-text);
}
