.icon {
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  border-radius: 0.25em;
  height: 32px;
}

.icon:hover {
  background: var(--icon-hover-background);
}

.icon:focus {
  background: var(--icon-focus-background);
}
