.icon {
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 0.25em;
  border: none;
  background: inherit;
  padding: 1px;
}

.icon:hover,
.icon:focus {
  background: none;
}

.icon.has-hover:hover {
  background: var(--hover-background) !important;
}

.icon.has-hover:focus {
  background: var(--focus-background) !important;
}

.icon span {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon:hover {
  background: var(--icon-hover-background);
}

.icon:focus {
  background: var(--icon-focus-background);
}
